---
import LayoutDefault from '~/layouts/LayoutDefault.astro'
---

<LayoutDefault>
    <div class="w-full grid grid-cols-3 gap-4">
        <div
            class="w-full h-100px flex place-content-center place-items-center bg-amber rounded-lg hover:shadow-2xl hover:shadow-cyan-400">
            <a href="/tools/bankTool">
                Bank 工具
            </a>
        </div>
        <div
            class="w-full h-100px bg-amber rounded-lg hover:shadow-2xl hover:shadow-cyan-400">
        </div>
        <div
            class="w-full h-100px bg-amber rounded-lg hover:shadow-2xl hover:shadow-cyan-400">
        </div>
    </div>
</LayoutDefault>
