---
import LayoutDefault from '~/layouts/LayoutDefault.astro'
import ToolPanel from '~/components/ToolPanel.astro'

const tools = [
    {
        name: 'Bank 工具',
        desc: 'Bank 工具',
        url: '/tools/bankTool',
        color: '#fbbf24'
    },
    {
        name: 'ICO 图标转换工具',
        desc: 'ICO 图标转换工具',
        url: 'https://ico.nyaasu.top/',
        color: '#4ade80'
    },
    {
        name: '体温',
        desc: '体温',
        url: '/tools/temperature',
        color: '#f43f5e'
    }
]
---

<LayoutDefault>
    <div class="w-full grid grid-cols-3 gap-4">
        {
            tools.map(tool => {
                return <ToolPanel name={tool.name} url={tool.url} color={tool.color} />
            })
        }
    </div>
</LayoutDefault>
