---
import LayoutDefault from "~/layouts/LayoutDefault.astro"
---

<LayoutDefault>
  <div class="w-full flex gap-4 flex-wrap">
    <ul class="w-full">
        <li class="bg-gray-100 p-4 rounded-lg mb-2">
            <div class="flex flex-col">

            <a href="https://procomponent.banmao.cc" target="_blank" class="text-cyan decoration-none">
                <storng class="text-20px font-bold">ProComponent</storng>
            </a>
            <span class="text-16px ">ProComponent for Naive UI</span>
            </div>
        </li>
    </ul>
  </div>
</LayoutDefault>
